<app-teacher-main-nav>
  <div class="container mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" [routerLink]="['/teacher/dashboard']"><a>Strona główna</a></li>
        <li class="breadcrumb-item breadcrumb-active"><a>Plan lekcji</a></li>
      </ol>
    </nav>
    <div class="row">
      <div class="card-wrapper col-12 col-md-6 col-lg-4" *ngFor="let weekDay of weekDayDictionary">
        <div class="card">
          <div class="card-header">{{ weekDay.name }}</div>
          <div class="card-body">
            <div class="card w-100 inside-card" *ngFor="let lesson of getItemsByWeekDay(weekDay.number) ">
              <div class="card-body">
                <div class="card-lessons w-100 d-flex flex-wrap">
                  <h6 class="subject"> {{ lesson.subject.name }} </h6>
                  <p class="hours"> {{ lesson.lessonHour.from }} - {{ lesson.lessonHour.to }}</p>
                  <p class="floor">Piętro: {{ lesson.classroom.floor }}</p>
                  <p class="number">Numer: {{ lesson.classroom.number }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-teacher-main-nav>
