.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #52afff;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateX(-100%);
  transition: .5s;
}

.menu-active {
  transform: translateX(0%);
}

.mat-elevation-z8 {
  box-shadow: none;
  border-radius: 10px;
}

.container {
  padding-top: 20px;
}

mat-icon {
  font-size: 64px;
  height: 64px;
  width: 64px;
}

.card {
  border: none;
}

#users {
  background-color: #f4cfdf;
}
#admins {
  background-color: #f7f6cf;
}
#teachers {
  background-color: #b6d8f2;
}
#students {
  background-color: #CCD4BF;
}
#tutors {
  background-color: #EEBAB2;
}


