.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #52afff;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateX(-100%);
  transition: .5s;
}

.menu-active {
  transform: translateX(0%);
}

.mat-elevation-z8 {
  box-shadow: none;
  border-radius: 10px;
}

.container {
  padding-top: 20px;
}
