<app-main-nav>
  <section class="container">
    <div class="row d-flex">
      <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card" id="users" [routerLink]="['/dashboard']">
          <div class="card-body d-flex">
            <div class="w-50 d-flex justify-content-center align-content-center mt-2">
              <mat-icon>people</mat-icon>
            </div>
            <div class="w-50">
              <h5 class="card-title text-center" style="font-size: 48px">{{ count.users }}</h5>
              <p class="card-text text-center">All Users</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card" id="admins" [routerLink]="['/admins']">
          <div class="card-body d-flex">
            <div class="w-50 d-flex justify-content-center align-content-center mt-2">
              <mat-icon>security</mat-icon>
            </div>
            <div class="w-50">
              <h5 class="card-title text-center" style="font-size: 48px">{{ count.admins }}</h5>
              <p class="card-text text-center">Admins</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card" id="teachers" [routerLink]="['/teachers']">
          <div class="card-body d-flex">
            <div class="w-50 d-flex justify-content-center align-content-center mt-2">
              <mat-icon>assignment_ind</mat-icon>
            </div>
            <div class="w-50">
              <h5 class="card-title text-center" style="font-size: 48px">{{ count.teachers }}</h5>
              <p class="card-text text-center">Teachers</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card" id="students" [routerLink]="['/students']">
          <div class="card-body d-flex">
            <div class="w-50 d-flex justify-content-center align-content-center mt-2">
              <mat-icon>school</mat-icon>
            </div>
            <div class="w-50">
              <h5 class="card-title text-center" style="font-size: 48px">{{ count.students }}</h5>
              <p class="card-text text-center">Students</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card" id="tutors" [routerLink]="['/tutors']">
          <div class="card-body d-flex">
            <div class="w-50 d-flex justify-content-center align-content-center mt-2">
              <mat-icon>supervised_user_circle</mat-icon>
            </div>
            <div class="w-50">
              <h5 class="card-title text-center" style="font-size: 48px">{{ count.tutors }}</h5>
              <p class="card-text text-center">Tutors</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-main-nav>
