.subject {
  width: 100%;
}

.hours, .floor, .teachers, .number {
  width: 50%;
  margin-bottom: 0;
  font-size: 14px;
}

.inside-card {
  margin-bottom: 15px;
}

.breadcrumb {
  margin-bottom: 0;
}

select {
  margin-top: 15px;
}

