<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
               [ngClass]="{ hidden: !(isHandset$ | async) }"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/teachers']">Teachers</a>
      <a mat-list-item [routerLink]="['/admins']">Admins</a>
      <a mat-list-item [routerLink]="['/students']">Students</a>
      <a mat-list-item [routerLink]="['/tutors']">Tutors</a>
      <a mat-list-item [routerLink]="['/classes']">Classes</a>
      <a mat-list-item [routerLink]="['/classrooms']">Classrooms</a>
      <a mat-list-item [routerLink]="['/subjects']">Subjects</a>
      <a mat-list-item [routerLink]="['/timetable']">Timetable</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [routerLink]="['/dashboard']"><img src="./assets/logo.svg" alt="logo" style="width: 175px;"></span>
      <span class="spacer"></span>
      <button mat-button style="background-color: #5F9BF5; margin-right: 10px;" [matMenuTriggerFor]="menu">Users</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/teachers']">Teachers</button>
        <button mat-menu-item [routerLink]="['/admins']">Admins</button>
        <button mat-menu-item [routerLink]="['/students']">Students</button>
        <button mat-menu-item [routerLink]="['/tutors']">Tutors</button>
      </mat-menu>
      <button mat-button style="background-color: #5F9BF5; margin-right: 10px;" [matMenuTriggerFor]="menu2">School</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item [routerLink]="['/classes']">Classes</button>
        <button mat-menu-item [routerLink]="['/classrooms']">Classrooms</button>
        <button mat-menu-item [routerLink]="['/subjects']">Subjects</button>
        <button mat-menu-item [routerLink]="['/timetable']">Timetable</button>
      </mat-menu>
      <button class="logout-button" mat-raised-button color="warn" (click)="logout()">Logout</button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
