<app-tutor-main-nav>
  <div class="container">
    <nav aria-label="breadcrumb mt-3">
      <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item" [routerLink]="['/tutor/dashboard']"><a>Strona główna</a></li>
        <li class="breadcrumb-item breadcrumb-active"><a>Lekcje</a></li>
      </ol>
    </nav>
    <div class="accordion mt-3" id="accordionExample">
      <div class="accordion-item" *ngFor="let subject of subjectsSet, index as i">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="dataBsTargetGenerator('#collapse', i)" aria-expanded="true" [attr.aria-controls]="ariaControlsGenerator('collapse', i)">
            {{ subject }}
          </button>
        </h2>
        <div [id]="ariaControlsGenerator('collapse', i)" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">temat</th>
                <th scope="col">godziny</th>
                <th scope="col">data</th>
                <th scope="col" class="text-center">status</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let lesson of getLessonsBySubjectName(subject)">
                <td>{{ lesson.topic }}</td>
                <td>{{ lesson.lessonHour.from }} - {{ lesson.lessonHour.to }}</td>
                <td>{{ lesson.date | date:"MMM dd, yyyy 'o' hh:mm": '':'pl' }}</td>
                <td [class]="getAttendance(lesson.attendances)">{{ getAttendance(lesson.attendances) }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-tutor-main-nav>
