<app-main-nav>
  <section class="teachers container mt-3">
    <div class="d-flex">
      <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" placeholder="Search" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" #searchInput (keyup)="searchStudent($event)">
      </div>
      <div class="input-group">
        <div>
          <button mat-mini-fab aria-label="Example icon button with a filter list icon" data-bs-toggle="modal" data-bs-target="#addModal" style="margin-left: 10px;" color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div>
          <button mat-mini-fab aria-label="Example icon button with a filter list icon" data-bs-toggle="modal" data-bs-target="#filterModal" style="margin-left: 10px;" color="primary">
            <mat-icon>filter_list</mat-icon>
          </button>
        </div>
        <div>
          <button mat-mini-fab style="margin-left: 10px;" color="primary" (click)="clearFilters()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <div class="input-group" style="width: 200px">
        <select class="form-control" (change)="itemsPerPage($event)" id="select">
          <option selected value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
        </select>
        <label class="input-group-text" id="inputGroup" for="select"><i for="select" class="fa-solid fa-angle-down"></i></label>
      </div>
    </div>
    <table class="table table-striped mt-3">
      <thead style="border-left: solid 1px #ddd; border-top: solid 1px #ddd; border-right: solid 1px #ddd;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Pesel</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Class Name</th>
        <th scope="col">Class Year</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students, let i = index" style="border-left: solid 1px #ddd; border-right: solid 1px #ddd;">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.pesel }}</td>
        <td>{{ student.phoneNumber }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.className }}</td>
        <td>{{ student.classYear }}</td>
        <td class="d-flex justify-content-end">
          <button mat-mini-fab color="primary" data-bs-target="#editModal" data-bs-toggle="modal" (click)="getCurrentStudent(student)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" style="margin-left: 5px;">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex">
      <div aria-label="..." style="height: 38px;" class="input-group">
        <ul class="pagination">
          <li class="page-item">
            <button class="page-link" (click)="previousPage()" [class.disabled]="paginationModel.page == 1">Previous</button>
          </li>
          <li class="page-item" *ngFor="let item of createRange(response.totalPages); let i = index">
            <button class="page-link" [value]="i + 1" (click)="changePage($event)" [class.active]="(i + 1) == paginationModel.page">{{ i + 1 }}</button>
          </li>
          <li class="page-item">
            <button class="page-link" href="#" (click)="nextPage()" [class.disabled]="paginationModel.page == response.totalPages">Next</button>
          </li>
        </ul>
      </div>
      <div></div>
    </div>
  </section>
</app-main-nav>

<!-- Modal Add -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-control mt-3" (change)="changeUser($event)">
          <option selected>--- select user ---</option>
          <option *ngFor="let user of users" [value]="user.id"> {{ user.firstName}} {{ user.lastName }} </option>
        </select>
        <select class="form-control mt-3" (change)="changeClass($event)">
          <option selected>--- select class ---</option>
          <option *ngFor="let class of classes" [value]="class.id"> {{ class.year}} {{ class.name }}</option>
        </select>
        <select class="form-control mt-3" (change)="changeTutor($event)">
          <option selected>--- select tutor ---</option>
          <option *ngFor="let tutor of tutors" [value]="tutor.id"> {{ tutor.user.firstName }} {{ tutor.user.lastName }}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-add" (click)="addStudent()" [disabled]="isSelected()">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Filter -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelFilter">Filter students</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-control mt-3" (change)="classYearFilterOptions($event)">
          <option selected [value]="0">--- select class year ---</option>
          <option *ngFor="let class of classes" [value]="class.year"> {{ class.year }} </option>
        </select>
        <select class="form-control mt-3" (change)="classNameFilterOptions($event)">
          <option selected [value]="null">--- select class name ---</option>
          <option *ngFor="let class of classes" [value]="class.name"> {{ class.name }}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-add" (click)="filterStudents(studentFilterDto)" [disabled]="isStudentFilterSelected()">Filter</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelEdit">Edit student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-control" (change)="changeEditUserValue($event)">
          <option *ngFor="let class of classes" [value]="class.id">{{ class.year}} {{ class.name }}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-add" (click)="editStudent(selectedStudentData.classId, currentStudent.id)" [disabled]="isEditButtonDisabled">Edit</button>
      </div>
    </div>
  </div>
</div>
