<app-main-nav>
  <section class="timetable container mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" [routerLink]="['/dashboard']"><a>Dashboard</a></li>
        <li class="breadcrumb-item breadcrumb-active"><a>Timetable</a></li>
      </ol>
    </nav>
    <select class="form-control" (change)="changeClass($event)">
      <option selected value=0>--- select class ---</option>
      <option *ngFor="let class of classes" [value]="class.id">{{ class.year }} {{ class.name }}</option>
    </select>
    <div class="row" *ngIf="selectedClass != 0">
      <div class="card-wrapper col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">Monday</div>
          <div class="card-body">
              <div class="card w-100 inside-card" *ngFor="let lesson of getItemsByWeekDay(1) ">
                <div class="card-body">
                  <div class="card-lessons w-100 d-flex flex-wrap" (mouseover)="showShadow(shadow)" (mouseout)="hideShadow(shadow)">
                    <div class="shadow" #shadow>
                      <div class="buttons">
                        <div class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></div>
                        <div class="btn btn-danger btn-delete"><i class="fa-regular fa-trash-can"></i></div>
                      </div>
                    </div>
                    <h6 class="subject"> {{ lesson.subject.name }} </h6>
                    <p class="floor">Floor: {{ lesson.classroom.floor }}</p>
                    <p class="number">Number: {{ lesson.classroom.number }}</p>
                    <p class="hours"> {{ lesson.lessonHour.from }} - {{ lesson.lessonHour.to }}</p>
                    <p class="teachers">{{ lesson.teacher.user.firstName }} {{ lesson.teacher.user.lastName }}</p>
                  </div>
                </div>
              </div>
            <button data-bs-toggle="modal" (click)="setWeekDay(1)" data-bs-target="#addModal" class="btn btn-primary w-100"><i class="fa-solid fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">Tuesday</div>
          <div class="card-body">
            <div class="card w-100 inside-card" *ngFor="let lesson of getItemsByWeekDay(2) ">
              <div class="card-body">
                <div class="card-lessons w-100 d-flex flex-wrap" (mouseover)="showShadow(shadow)" (mouseout)="hideShadow(shadow)">
                  <div class="shadow" #shadow>
                    <div class="buttons">
                      <div class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></div>
                      <div class="btn btn-danger btn-delete"><i class="fa-regular fa-trash-can"></i></div>
                    </div>
                  </div>
                  <h6 class="subject"> {{ lesson.subject.name }} </h6>
                  <p class="floor">Floor: {{ lesson.classroom.floor }}</p>
                  <p class="number">Number: {{ lesson.classroom.number }}</p>
                  <p class="hours"> {{ lesson.lessonHour.from }} - {{ lesson.lessonHour.to }}</p>
                  <p class="teachers">{{ lesson.teacher.user.firstName }} {{ lesson.teacher.user.lastName }}</p>
                </div>
              </div>
            </div>
            <button data-bs-toggle="modal" (click)="setWeekDay(2)" data-bs-target="#addModal" class="btn btn-primary w-100"><i class="fa-solid fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">Wednesday</div>
          <div class="card-body">
            <div class="card w-100 inside-card" *ngFor="let lesson of getItemsByWeekDay(3) ">
              <div class="card-body">
                <div class="card-lessons w-100 d-flex flex-wrap" (mouseover)="showShadow(shadow)" (mouseout)="hideShadow(shadow)">
                  <div class="shadow" #shadow>
                    <div class="buttons">
                      <div class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></div>
                      <div class="btn btn-danger btn-delete"><i class="fa-regular fa-trash-can"></i></div>
                    </div>
                  </div>
                  <h6 class="subject"> {{ lesson.subject.name }} </h6>
                  <p class="floor">Floor: {{ lesson.classroom.floor }}</p>
                  <p class="number">Number: {{ lesson.classroom.number }}</p>
                  <p class="hours"> {{ lesson.lessonHour.from }} - {{ lesson.lessonHour.to }}</p>
                  <p class="teachers">{{ lesson.teacher.user.firstName }} {{ lesson.teacher.user.lastName }}</p>
                </div>
              </div>
            </div>
            <button data-bs-toggle="modal" (click)="setWeekDay(3)" data-bs-target="#addModal" class="btn btn-primary w-100"><i class="fa-solid fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">Thursday</div>
          <div class="card-body">
            <div class="card w-100 inside-card" *ngFor="let lesson of getItemsByWeekDay(4) ">
              <div class="card-body">
                <div class="card-lessons w-100 d-flex flex-wrap" (mouseover)="showShadow(shadow)" (mouseout)="hideShadow(shadow)">
                  <div class="shadow" #shadow>
                    <div class="buttons">
                      <div class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></div>
                      <div class="btn btn-danger btn-delete"><i class="fa-regular fa-trash-can"></i></div>
                    </div>
                  </div>
                  <h6 class="subject"> {{ lesson.subject.name }} </h6>
                  <p class="floor">Floor: {{ lesson.classroom.floor }}</p>
                  <p class="number">Number: {{ lesson.classroom.number }}</p>
                  <p class="hours"> {{ lesson.lessonHour.from }} - {{ lesson.lessonHour.to }}</p>
                  <p class="teachers">{{ lesson.teacher.user.firstName }} {{ lesson.teacher.user.lastName }}</p>
                </div>
              </div>
            </div>
            <button data-bs-toggle="modal" (click)="setWeekDay(4)" data-bs-target="#addModal" class="btn btn-primary w-100"><i class="fa-solid fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">Friday</div>
          <div class="card-body">
            <div class="card w-100 inside-card" *ngFor="let lesson of getItemsByWeekDay(5) ">
              <div class="card-body">
                <div class="card-lessons w-100 d-flex flex-wrap" (mouseover)="showShadow(shadow)" (mouseout)="hideShadow(shadow)">
                  <div class="shadow" #shadow>
                    <div class="buttons">
                      <div class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></div>
                      <div class="btn btn-danger btn-delete"><i class="fa-regular fa-trash-can"></i></div>
                    </div>
                  </div>
                  <h6 class="subject"> {{ lesson.subject.name }} </h6>
                  <p class="floor">Floor: {{ lesson.classroom.floor }}</p>
                  <p class="number">Number: {{ lesson.classroom.number }}</p>
                  <p class="hours"> {{ lesson.lessonHour.from }} - {{ lesson.lessonHour.to }}</p>
                  <p class="teachers">{{ lesson.teacher.user.firstName }} {{ lesson.teacher.user.lastName }}</p>
                </div>
              </div>
            </div>
            <button data-bs-toggle="modal" (click)="setWeekDay(5)" data-bs-target="#addModal" class="btn btn-primary w-100"><i class="fa-solid fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-main-nav>

<!-- Modal Add -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add lesson</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-control" (change)="changeSubject($event)">
          <option selected value=0>--- select subject ---</option>
          <option *ngFor="let subject of subjects" [value]="subject.id"> {{ subject.name }} </option>
        </select>
        <select class="form-control" (change)="changeTeacher($event)">
          <option selected value=0>--- select teacher ---</option>
          <option *ngFor="let teacher of teachers" [value]="teacher.id"> {{ teacher.user.firstName }} {{ teacher.user.lastName }}</option>
        </select>
        <select class="form-control" (change)="changeClassroom($event)">
          <option selected value=0>--- select  classroom ---</option>
          <option *ngFor="let classroom of classrooms" [value]="classroom.id"> {{ classroom.floor }} / {{ classroom.number }}</option>
        </select>
        <select class="form-control" (change)="changeLessonHour($event)">
          <option selected value=0>--- select lesson hours ---</option>
          <option *ngFor="let lessonHour of lessonHours" [value]="lessonHour.id"> {{ lessonHour.from }} - {{ lessonHour.to }}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-add" (click)="addTimetable()" [disabled]="isAllTimetableValues()">Add</button>
      </div>
    </div>
  </div>
</div>
