.card-wrapper {
  margin-top: 30px;
}

.card-lessons {
  width: 100%;
}

.card-buttons {
  width: 100%;
}

.delete {
  width: 48%;
  margin-left: 2%;
}

.edit {
  width: 48%;
  margin-right: 2%;
}

.subject {
  width: 100%;
}

.hours {
  width: 50%;
  margin-bottom: 0;
  font-size: 14px;
}

.teachers {
  width: 50%;
  margin-bottom: 0;
  font-size: 14px;
}

.inside-card {
  margin-bottom: 15px;
}

.breadcrumb {
  margin-bottom: 0;
}

select {
  margin-top: 15px;
}
