<app-teacher-main-nav>
  <div class="container mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" [routerLink]="['/teacher/dashboard']"><a>Dashboard</a></li>
        <li class="breadcrumb-item breadcrumb-active"><a>Grades</a></li>
      </ol>
    </nav>
    <select class="form-control" (change)="changeClass($event)">
      <option selected value=0>--- select class ---</option>
      <option *ngFor="let class of classes" [value]="class.id">{{ class.year }} {{ class.name }}</option>
    </select>
    <select class="form-control mt-3" (change)="changeSubject($event)">
      <option selected value=0>--- select subject ---</option>
      <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
    </select>
    <div class="accordion mt-3" id="accordionExample" *ngIf="isSelected()">
      <div class="accordion-item" *ngFor="let student of students">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ student.user.firstName }} {{ student.user.lastName }}
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <button mat-raised-button class="add-grade" data-bs-toggle="modal" data-bs-target="#addModal" (click)="currentStudent(student.id)">+ add grade</button>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">grade</th>
                <th scope="col">percent</th>
                <th scope="col">weight</th>
                <th scope="col">date</th>
                <th scope="col">description</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let grade of getGradesByStudentId(student.id)">
                <td>{{ grade.gradeValue }}</td>
                <td>{{ grade.percent }}</td>
                <td>{{ grade.gradeWeight }}</td>
                <td>{{ grade.getDate | date:"MMM dd, yyyy 'at' hh:mm a" }}</td>
                <td>{{ grade.description }}</td>
                <td class="d-flex justify-content-end">
                  <button mat-mini-fab color="warn" (click)="deleteGrade(grade.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-teacher-main-nav>

<!-- Modal Add -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add grade</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-control mb-2" (change)="changeGradeValue($event)">
          <option selected value=0>--- select grade ---</option>
          <option *ngFor="let grade of gradesValue" [value]="grade"> {{ grade }} </option>
        </select>
        <select class="form-control mb-2" (change)="changeGradeWeight($event)">
          <option selected value=0>--- select grade weight ---</option>
          <option *ngFor="let gradew of gradeWeight" [value]="gradew">{{ gradew }}</option>
        </select>
        <input type="number" class="form-control mb-2" placeholder="percent" max="100" min="0" [(ngModel)]="gradeAddDto.percent">
        <textarea class="form-control" placeholder="description" [(ngModel)]="gradeAddDto.description"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-add" [disabled]="isSelectedValues()" (click)="addGrade()">Add</button>
      </div>
    </div>
  </div>
</div>
