<app-main-nav>
  <section class="classes container mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" [routerLink]="['/admin/dashboard']"><a>Strona główna</a></li>
        <li class="breadcrumb-item breadcrumb-active"><a>Przedmioty</a></li>
      </ol>
    </nav>
    <div class="d-flex">
      <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" placeholder="Szukaj" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" (keyup)="searchSubject($event)">
      </div>
      <div class="input-group">
        <div class="example-button-container">
          <button mat-mini-fab aria-label="Example icon button with a filter list icon" data-bs-toggle="modal" data-bs-target="#addModal" style="margin-left: 10px;" color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="input-group" style="width: 200px">
        <select class="form-control" (change)="itemsPerPage($event)" id="select">
          <option selected value="5">5</option>
          <option value="10">10</option>
        </select>
        <label class="input-group-text" id="inputGroup" for="select"><i for="select" class="fa-solid fa-angle-down"></i></label>
      </div>
    </div>
    <table class="table table-striped mt-3">
      <thead style="border-left: solid 1px #ddd; border-top: solid 1px #ddd; border-right: solid 1px #ddd;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let subject of subjects, let i = index" style="border-left: solid 1px #ddd; border-right: solid 1px #ddd;">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ subject.name }}</td>
        <td class="d-flex justify-content-end">
          <button mat-mini-fab color="warn" style="margin-left: 5px;" (click)="deleteSubject(subject.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex">
      <div aria-label="..." style="height: 38px;" class="input-group">
        <ul class="pagination">
          <li class="page-item">
            <button class="page-link" (click)="previousPage()" [class.disabled]="paginationModel.page == 1">Poprzednia</button>
          </li>
          <li class="page-item" *ngFor="let item of createRange(response.totalPages); let i = index">
            <button class="page-link" [value]="i + 1" (click)="changePage($event)" [class.active]="(i + 1) == paginationModel.page">{{ i + 1 }}</button>
          </li>
          <li class="page-item">
            <button class="page-link" href="#" (click)="nextPage()" [class.disabled]="paginationModel.page == response.totalPages">Następna</button>
          </li>
        </ul>
      </div>
      <div></div>
    </div>
  </section>
</app-main-nav>

<!-- Modal Add -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodaj przedmiot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Nazwa przedmiotu:</label>
        <input class="form-control" [(ngModel)]="subjectValue.name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary btn-add" (click)="addSubject()" [disabled]="isAllSubjectValue()">Dodaj</button>
      </div>
    </div>
  </div>
</div>



